
.link_container {
    display: flex;
    flex-direction: column;
}
/* 링크 버튼 공통스타일  */
a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

