
.link_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
/* 링크 버튼 공통스타일  */

.link_btn {
    display: block;
    margin: 10px auto;
    padding: 15px 20px;
    background-color: lightseagreen;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    width: 100px;
    font-weight: 700;
}

.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.home_container h1 {
    margin-top: 40px;
}

h1 {
    text-align: center;
}

p {
    font-size: 15px;
    font-weight: 500;
}

form {
    display: flex;
    align-items: center;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid lightseagreen;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
}
input:hover {
    border-color: lightseagreen;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
input:focus {
    outline: none;
}

button {
    
    padding: 10px 30px;
    font-size: 16px;
    background-color: lightseagreen;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    
}

/* SearchModal 컴포넌트 스타일 */
.modal_container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-height: 500px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px;
    border: 1px solid lightseagreen;
}

.modal_item {
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.modal_item:hover {
    background-color: #f1f1f1;
}


/* infopage */

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}




.container img {
    
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.country_basic_info div{
    margin-top: 50px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}
.country_basic_info div p{
    padding: 50px;
    
}

/* notice Page */
.notice_text_box {
    width: 90%;
    margin: auto;
    padding: 20px;
}



/* permit */

.permit_box {
    display: flex;
    flex-direction: column;
    
}

/* safety */

.safety_box {
    width: 90%;
    margin: auto;
}

/* contact */

.contact_info {
    margin-bottom: 30px;
    padding: 20px;
}

.contact_info h3 {
    font-size: 25px;
}

/* specialtrip Page */
.specialtrip_box {
    margin-top: 200px;
}

.btn_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}

.country_btn {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}